<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">


	<context:property-placeholder location="classpath:runtime.properties" />

	<bean id="configurations"
		class="com.github.hippoom.dddsample.cargocqrs.config.Configurations">
		<property name="pathfinderSchema" value="${runtime.pathfinder.schema}" />
		<property name="pathfinderHost" value="${runtime.pathfinder.host}" />
		<property name="pathfinderPort" value="${runtime.pathfinder.port}" />
		<property name="pathfinderContextPath" value="${runtime.pathfinder.contextPath}" />
		<property name="pathfinderRoutesPath" value="${runtime.pathfinder.routes.path}" />
	</bean>
</beans>