<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="${runtime.persistence.jdbc.url}" />
		<property name="driverClassName" value="${runtime.persistence.jdbc.driver}" />
		<property name="username" value="${runtime.persistence.jdbc.username}" />
		<property name="password" value="${runtime.persistence.jdbc.password}" />
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan"
			value="org.axonframework.eventstore.jpa, org.axonframework.saga, com.github.hippoom.dddsample.cargocqrs" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven />

	<bean id="trackingIdGenerator"
		class="com.github.hippoom.dddsample.cargocqrs.persistence.jpa.JpaTrackingIdGenerator" />

	<bean id="cargoDetailQueryService"
		class="com.github.hippoom.dddsample.cargocqrs.persistence.jpa.JpaCargoDetailDao">
	</bean>
</beans>